* {box-sizing: border-box;}

body {font-family: Arial;}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #050401;
    background-color: #edf197;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffa7a2;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #cbebfa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #f1c041;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #06075b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #06075b;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #06075b
}

.dropdown:hover .dropdown-content {
    display: block;
}

a:link {
    color: #2885fa;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #214dcb;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #214dcb;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #214dcb;
    background-color: transparent;
    text-decoration: underline;
}

table, th, td {
    border: 1px solid white
}

